.idea/*
datasets/.DS_Store
.DS_Store
*.npy
*.pyc
__pycache__
trained_model/
datasets/last-fm
datasets/pretrain
datasets/yelp2018
datasets/amazon-book/entity_list_raw.txt
datasets/amazon-book/kg_final_raw.txt
datasets/amazon-book/relation_list_raw.txt
datasets/amazon-book/kg_data.pkl
datasets/amazon-book/metadata.json
datasets/amazon-book/relation_remap.json
datasets/amazon-book/remap_ids.json
datasets/amazon-book/remap_ids.py
datasets/amazon-book/kg_final.txt
temporary/
freebase-rdf-latest.gz
Meta-Llama-3-8B-Instruct
kgat
kslr_adapter
kslr_adapter_con
kslr_adapter0
kslr_init
kslr_init_xr
kslr_init_xr0
kslr4
kslr5
kslr6